// Global default params, used in configs
params {

  // Input
  design                    = null
  genome                    = null
  ignore_R1                 = false
  outdir                    = null
  awsqueue                  = false
  awsregion                 = 'us-west-2'
  project                   = ""
  // Trimming 
  adapter_first_read        = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
  adapter_second_read       = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
  minimum_length            = 1
  cores                     = 7
  // Callmethylation  
  base_quality              = 10
  alignment_quality         = 20
  max_read_depth            = 8000
  minimum_read_depth        = 10

  // Skip 
  skip_fastqc               = false
  skip_multiqc              = false
  skip_summarize_downloads  = false
  // Defaults only, expecting to be overwritten
  max_memory                = 32.GB
  max_cpus                  = 4
  max_time                  = 16.h

  // MultiQC options
  multiqc_config            = null

}

// Docker
docker.enabled = true
profiles {
    testData           { includeConfig 'conf/testData.config' }
    awsbatch           { includeConfig 'conf/awsbatch.config' }

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

manifest {
  name = 'Zymo-Research/nxf-bisulfitebolt'
  author = 'PI'
  homePage = 'https://github.com/Zymo-Research/nxf-bisulfitebolt'
  description = 'Bisulfitebolt analysis pipeline, part of the Aladdin Bioinformatics Platform pipeline catalog.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '0.0.1'
}