params {
    genomes {
        hg38 {
            index = 's3://pacinfo-fs/tmp/qong/BSBolt/hg38_indexFull_rrbs/'
        }
        mm10 {
            index = 's3://pacinfo-fs/tmp/qong/BSBolt/mm10_indexFull_rrbs/'
        }
        hg38_testdata {
            index = 's3://pacinfo-fs/tmp/qong/BSBolt/DB_index_test/'
        }
    }
}