params {
    genomes {
        hg38 {
            index = 's3://zymo-filesystem/srv/pacinfo/BSBolt/hg38_indexFull_rrbs/'
        }
        mm10 {
            index = 's3://zymo-filesystem/srv/pacinfo/BSBolt/mm10_indexFull_rrbs/'
        }
        hg38_testdata {
            index = 's3://zymo-filesystem/srv/pacinfo/BSBolt/DB_index_test/'
        }
    }
}