params {
    genomes {
        hg38 {
            index = 's3://aladdin-genomes/Homo_sapiens/UCSC/hg38/Sequence/BSBoltIndex/'
        }
        mm10 {
            index = 's3://aladdin-genomes/Mus_musculus/UCSC/mm10/Sequence/BSBoltIndex/'
        }
        hg38_dev {
            index = 's3://zymo-filesystem/srv/bioinformatics/BSBolt_index/hg38/'
        }
        mm10_dev {
            index = 's3://zymo-filesystem/srv/bioinformatics/BSBolt_index/mm10/'
        } 
        hg38_pi {
            index = 's3://zymo-filesystem/srv/pacinfo/BSBolt_index/hg38/'
        }
        mm10_pi {
            index = 's3://zymo-filesystem/srv/pacinfo/BSBolt_index/mm10/'
        }
    }
}